.DS_Store/
PKI_CA/**
backup/**
*.ovpn
*.tar
*.tar.gz
*.tar.xv
*.gz
*.pem
*.crt
*.key
*.zip
*.img
/raspberrypi-ua-netinst/config/files/root/etc/openvpn/**
/raspberrypi-ua-netinst/config/files/ovpn4.list
/raspberrypi-ua-netinst/config/files/ovpn5.list
/raspberrypi-ua-netinst/config/files/exim*.list
raspberrypi-ua-netinst/config/files/root/etc/email-addresses
raspberrypi-ua-netinst/config/files/root/etc/aliases
raspberrypi-ua-netinst/config/files/root/etc/exim4/**
myconfig.sh
